@media (max-width: 480px) {
    .slider-overlay {
        left: 20px;
    }


    .nav-tabs a {
        font-size: 12px;
        padding: 10px 10px;
    }


    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        padding: 10px 10px;
    }

    .logoClass-r1 {
        width: 60px;
    }

    .r-top-tabBtn-1 {
        margin-top: 10px;
    }

    .productListDiv {
        margin-bottom: 20px;
    }

    .cartTable th {
        padding: 4px;
        font-size: 14px;
    }

    .cartTable td {
        font-size: 14px;
    }

    .productportraitListDiv {

        margin-bottom: 20px;
    }

    .footer-genric a {
        font-size: 12px;
        padding: 4px 8px!important;
    }

    .padding-custom-mobile {
        padding-left: 4px;
        padding-right: 4px;
    }

    .r-top-1 {
        margin-top: -16px;
    }

    .tab-custom-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tab-custom-btn a {
        font-size: 16px;
        padding: 6px 12px;
        margin-right: 0;
    }

    .fastive-text-div {
        margin-top: 20px!important;
        padding: 10px;
        width: 80%;
    }

    .fastive-text h1 {
        font-size: 20px;
    }

    .fastive-text p {
        font-size: 14px;
        line-height: 0.3rem;
    }

    .custom-btn a {
        padding: 4px 14px;
        font-size: 14px;
    }

    .titel h2 {
        font-size: 24px!important;
    }

    .productListName h4 {
        font-size: 12px;
    }

    .productListName h4 span {
        font-size: 12px;
    }

    .productListName p {
        font-size: 14px;
    }

    .wish-btn {

        font-size: 18px;
    }


    .custom-btn {
        width: 100%!important;
         
    }
    .qty-input {
        width: 40px !important;
        height: 40px;
    }
  

    .mobdetailbtn a{
        font-size: 1rem;
        padding: 10px;
    }
}

@media (min-width: 769px) {

    .bottom-nav-mobile,
    .slide-menu,
    .overlay {
        display: none !important;
    }

}


@media (max-width: 768px) {
    .topGap-3 {
        margin-top: 16px;
    }

    .woodDiv {
        margin-top: -6px;
    }

    .custom-link a {
        font-size: 14px;
    }

    .slider-container {
        height: 250px;
        /* মোবাইলে ছোট height */
    }

    #customCarousel .carousel-item img,
    .sliderImgSize {
        height: 250px;
        /* মোবাইল ইমেজ height ছোট */
    }

    .slider-overlay {
        left: 20px;
        /* মোবাইলে একটু কম জায়গা নেবে */
        width: 160px;
        /* overlay ছোট হবে */
        padding: 5px;
    }

    .slider-overlay p {
        font-size: 0.6rem;
        /* মোবাইলে টেক্সট ছোট */
    }

    .mt-4Moblile {
        margin-top: 0 !important;
    }

    .footer img {
        max-width: 40px;
    }

    .mobile-media-icon {
        max-width: 40px;
    }

    .footer .footer-title {
        font-size: 12px;
        line-height: 16px;
    }

    .footer .teadeClass {
        font-size: 11px;
        line-height: 14px;
    }

    .footer .footer-genric a {
        margin: 0 5px;
        font-size: 12px;
    }

    .footer .d-flex.py-1 {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }

    .footer .ribon-bottom,
    .footer .ribon,
    .footer .ribon-footer {
        margin-top: 0 !important;
    }


    .custom-table-wrapper {
        overflow-x: auto;
        display: block;
    }

    .slider-text-div {
        left: 0 !important;
        width: 180px;
        padding: 5px !important;
    }

    .slider-content-div {
        top: 0%;
        left: 0% !important;
        width: 200px;
    }

    .slider-content-div p {
        font-size: 12px;
        line-height: 16px;
    }

    .slider-content-div .custom-btn a {
        font-size: 13px;
        padding: 5px 10px;
    }

    .mt-6moblie {
        margin-top: 10px !important;
    }

    .sliderImgSize {
        height: 250px;
        object-fit: cover;
    }


    .tab-menu {
        overflow-y: scroll !important;
        background-color: #E8DDD7;
    }

    .bottom-nav-desktop {
        display: none;
    }

    .menuIconBar {
        display: block;
        top: -12px;
        position: absolute;
        z-index: 1000;
    }

    .hideIcon {
        display: none;
    }

    .forToPlOGO {
        margin-right: 154px !important;
        margin-left: -11px;
    }

    .mr-1 {
        margin-right: 20px !important;
    }

    .search-input {
        margin-left: -208px;
    }

    .search-box {
        width: 100px;
    }

    .search-icon {
        margin-top: -6px;
        margin-right: 36px !important;
    }
}


.for-mobile-socail{
    
    position: fixed;
    bottom: 0;
    text-align: center;

}

@keyframes fadeZoom {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* Desktop view: show sidebar normally */
@media (min-width: 992px) {
    .sidebar-slide {
        position: static !important;
        left: 0 !important;
        width: 100%;
        height: auto;
        box-shadow: none;
        padding: 0;
    }

    #tabOverlay {
        display: none !important;
    }


    .padding-r {
        padding-right: 0 !important;
    }

    .padding-l {
        padding-left: 8px !important;
    }
}

@media (min-width: 1200px) {
    .padding-r {
        padding-right: 0 !important;
    }

    .padding-l {
        padding-left: 8px !important;
    }
}

@media (min-width: 992px) {
    .price-mobile-only {
        display: none !important;
    }
}

/* Mobile only: offcanvas width 50% */
@media (max-width: 767.98px) {
    .offcanvas-start {
        width: 60% !important;
        /* চাইলে 40% দিতে পারেন */
    }


    .filter-btn {
        display: block !important;
    }

    /* Desktop এ filter button লুকাবো */
    @media (min-width: 768px) {
        .filter-btn {
            display: none !important;
        }
    }
}